@import 'normalize';
@import 'main';

$mf-color: #222;
$hv-color: #ffa000;
$mbg-color: #D7FFCA;
$altbg-color: #333333;

body {
  background-color: $mbg-color;
  color: $mf-color;
}


header {
  background-color: $altbg-color;
  font-size: 36px;
  text-align: left;
  padding-left: 10px;
}


nav {
  font-size: 18px;
}


a {
  color: #02e000;
  text-decoration: none;
}

main header {
  background-color: $mbg-color;
  color: black;

}

section {
  border-top: solid #00000030 1px;
  padding: 0.8em;
}
/* Style the links inside the navigation bar */
.nav-link {
  display: none;
  text-align: center;
  padding: 8px 1px;
  text-decoration: none;
  color:  black;
  background-color: #D7FFCA;
  border-bottom: black 1px solid;
  border-right: black 1px solid;
}


.nav-link:hover {
  color: $hv-color;
  background-color: $altbg-color;
}


.icon {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: $hv-color;
  background-color: $mbg-color;
}

nav.responsive {
  position: relative;
}

nav.responsive .icon{
  position: absolute;
  right: 0;
  top: 0;
}

nav.responsive .nav-link {
  float: none;
  display: block;
  text-align: right;
  padding-right: 15px;
}

@media only screen and (max-width: 500px) {
  #nav-title {
    font-size: 22px;
  }
}
/* For desktop */
@media only screen and (min-width: 750px)  {
  /* Hide the link that should open and close the topnav on small screens */
  .icon {
    display: none;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 35vw;
    height: 100vh;
  }

  main {
    position: absolute;
    margin-left: 35vw;
  }

  .nav-link {
    // float: left;
    display: block;
  }
}
