@import 'normalize';
@import 'main';

$mf-color: #c60000;
$hv-color: #ffa000;
$mbg-color: #e7e8e8;
$altbg-color: #525252;

body {
  background-color: $mbg-color;
  color: $mf-color;
}


/* For desktop */
@media only screen and (min-width: 750px)  {

}
